.navbar {
    color: var(--primary-color);
    background: linear-gradient(135deg, var(--gradient-1), var(--gradient-2));
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
    font-size: 20px;
    font-optical-sizing: auto;
    padding-left: 30px;
    padding-right: 29px;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  .logo {
    font-size: 27px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: "Kapakana", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .navbar .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 36px;

   
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
  }
  
  .nav-links a:hover {
    border-radius: 4px;
    background: linear-gradient(135deg, #e75480, #f9a825);

  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 19px;
    gap: 16px;
    background: linear-gradient(135deg, #e75480, #f9a825);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 160px;
    border-radius: 4px;
  }
  
  .dropdown-menu li a {
    padding: 0.5rem 1rem;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  